<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the <a href="http://information-law.org">Rails Help Page</a>
  To get help on this sample app, see the <a href="http://information-law.org/about">About Information law</a>
</p>